/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
body {
/*
  background-color: rgb(42, 74, 87);
*/
  font-family: sans-serif;
  color: #fff6cc;
  background-image: linear-gradient(rgb(42,74,87), rgb(88, 200, 152));
  font-size: larger;
  text-align: center;
}

h1,h2 
{ 
		font-family: sans-serif;
		color: #fff6cc;
}

h4
{
  font-family: Haettenschweiler;
  font-size: 64pt;
  color: rgb(143, 73, 27)
}

h5
{
  font-family: Segoe UI;
  color:rgb(45, 36, 173);
  font-size: 32pt;
}

p {
		font-family: verdana;
		color: rgb(253, 242, 226);
/*    border: 2px solid powderblue;
    padding: 30px left right 20%;
*/
  }

/*

.zoomeri:hover {
  height: 900px;
  width: 1920px;
  height: auto;
}

*/

div {
  display:block;
  /*
  columns: 4;
  grid-column-start: 2;
  grid-column-end: 3;
  gap: 15px;
  vertical-align: middle;
  height: 333px; 
  width: 667px;
  */
  transition: all 333ms;
}

/*

div:hover {
  height: 900px;
  width: 1920px;
}


div.grid-container {
  display:grid;
  columns: 2;
  gap: 75px;
}
*/


div.kuvat {
  display: block;
  margin: auto;
  max-width: 64%;
/*
  margin-left: 15%;
  margin-right: 25%;

  width: 42%;
  margin-left: auto;
  margin-right: auto;
*/
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  border: 2px solid orangered;
  padding: 3%;
  /*
  float: left;
  */
  transform: scale(0.87, 0.87);
  transition-delay: 12ms;
  transition: ease-in-out 0.420s; 
}

div.kuvat:hover {

  /*
  margin-left: 0.5%;
  margin-right: 2.5%;
  margin-top: -2.5%;
  margin-bottom: -5%;
  */
  border: 3px dashed orange;
  border-radius: 9px;
  transform: scale(1.0, 1.0);
  transition-delay: 12ms;
  transition: ease-in-out 0.420s;
  max-width: 80%;
  max-height: 64%;
  width: auto;
}

div.kuvat img {
  /*
  margin-left: -5%;
  margin-right: -5%;
  margin-top: 1.5%;
  margin-bottom: -2.5%;
  padding-top: 25px;
  padding-bottom: 50px;
  padding-left: 5%;
  padding-right: 5%;
  max-height: 420px;
  max-width: 40%; */
  transform: scale(0.67, 0.67);
  transition-delay: 125ms;
  transition: ease-in-out 0.420s;
  max-width: 100%;
}

div.kuvat img:hover {
  /*
  margin-left: -10%;
  margin-right: -10%;
  margin-top: 2.5%;
  margin-bottom: -5%;
  padding-top: 35px;
  padding-bottom: 75px;
  padding-left: 10%;
  padding-right: 10%; 
  max-height: 60%;
  */
  width: auto;
  transform: scale(1.0, 1.0);
  transition-delay: 125ms;
  transition: ease-in-out 0.420s;
}

div.moni {
  display: block;
  margin: auto;
  max-width: 87%;
/*  margin-left: 10%;
  margin-right: 1.5%;
  margin-top: 1.5%;
  margin-bottom: 2.5%;
  padding: 1.5%;
  float: left;*/
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  padding: 3%;
  border: 2px solid orangered;
  transform: scale(0.96, 0.96);
  transition-delay: 12ms;
  transition: ease-in-out 0.420s;
}

div.moni:hover {
  max-width: 96%;
  /*
  max-height: 96%; */
  border: 3px dashed orange;
  border-radius: 9px;
  transform: scale(1.0, 1.0);
  transition-delay: 12ms;
  transition: ease-in-out 0.420s;
  height: auto;
}

div.moni img {
/*  margin-left: -5%;
  margin-right: -5%;
  margin-top: 1.5%;
  margin-bottom: -2.5%;
  padding-top: 25px;
  padding-bottom: 50px;
  padding-left: 5%;
  padding-right: 5%; 
  max-height: 33%;
*/
  transform: scale(0.67, 0.67);  
  max-width: 80%;
  transition-delay: 125ms;
  transition: ease-in-out 0.420s;
}

div.moni img:hover {
/*  margin-left: -10%;
  margin-right: -10%;
  margin-top: 2.5%;
  margin-bottom: -5%;
  padding-top: 35px;
  padding-bottom: 75px;
  padding-left: 10%;
  padding-right: 10%; */
  transform: scale(1.0, 1.0);
  transition-delay: 125ms;
  transition: ease-in-out 0.420s;
  /*
  max-height: 1200px;
  */
  max-width: 100%;
  margin: auto;
}

div.wide {
  display: block;
  /*
  margin-left: 15%;
  margin-right: 2.5%;
  margin-top: 2.5%;
  margin-bottom: 5%;
  */
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  margin: auto;
  border: 2px solid orangered;
  padding: 2%;
  padding-top: 10%;
  padding-bottom: 7,5%;
  /*
  float: left;
  */
  transform: scale(0.67, 0.67);
  transition-delay: 12ms;
  transition: ease-in-out 0.420s;
}

/* vanhat
div.wide {
  margin: 35px;
  border: 2px solid orangered;
  padding: 25px;
  float: left;
  transform: scale(0.67, 0.67);
  transition-delay: 150ms;
  transition: ease-in-out 0.3s; 
}
*/

div.wide:hover {
  display: block;
  margin-left: 2%;
  margin-right: 2.5%;
  padding: 35px;
  border: 3px dashed orange;
  border-radius: 9px;
  transform: scale(1.0, 1.0);
  max-width: 100%;
  height: auto;
  transition-delay: 12ms;
  transition: ease-in-out 0.420s;
}

div.wide img {
  max-width: 1200px;
  transition-delay: 12ms;
  transition: ease-in-out 0.420s;
}

div.wide img:hover {
  max-width: 1920px;
  transform: scale(1, 1);
  transition-delay: 12ms;
  transition: ease-in-out 0.420s;
}

div.teksti {
  /*
  margin-left: -5%;
  margin-right: -5%;
  margin-top: -1.5%;
  margin-bottom: -2.5%;
*/
  padding-bottom: -2%;
 
  padding-right: 5%;
  
  padding-left: 35px;
  padding-top: 15px;
  text-align: center;
}


/* vanhat, poistettu käytöstä
img {
  border: 2px solid orangered;
  transform: scale(0.87, 0.87);
  max-width: 600px;
  max-height: 333px;
  transition: all 0.3s;
}

img:hover {
  border: 3px dotted orange ;
  transform: scale(1.33, 1.33);
  height: auto;
}
*/

a:link {
  font-size: 100%;
  transition: ease-in-out, all, 0.2s;
  transition-delay: 0.3s;
}

a:hover {
  font-size: 167%;
  color: yellowgreen;
  transition: all, ease-in-out, 0.3s;
  transition-delay: 0.1s;
}

a:visited {
  font-size: 87%;
  color:rgb(4, 4, 134)
}

a:active {
  transform: rotate(180deg);
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 16px 32px;
  text-decoration: rgb(4, 4, 134);
}

/* Change the link color on hover */
li a:hover {
  font-size: larger;
  transform: scale(1.67);  
  background-color: #555;
  color: yellowgreen;
  ;
}



li a.active {
  background-color: #4CAF50;
  color: white;
}

ul {
  border: 1px solid #555;
}

li {
  text-align: center;
  border-bottom: 1px solid #555;
}

li:last-child {
  border-bottom: none;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  
  p,
  h2,
  h3 {
	text-align: center;
	font-family: sans-serif;
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
	font-family: verdana;
    page-break-after: avoid;
  }
}